<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/User/qanew/Batch25WebAutomationPOM-main/project_02_wafilife.com">
        <classes>
            <class name="Testcases.BookDetails">
                <methods>
                    <include name="ViewBookDetails"/>
                </methods>
            </class>
            <class name="Testcases.ClickOrder_ClickOrderFinish">
                <methods>
                    <include name="OrderBook"/>
                </methods>
            </class>
            <class name="Testcases.ProvideAllInformatiom">
                <methods>
                    <include name="Provide_All_Info_With_Bkash0rRocketORNogod"/>
                    <include name="Provide_All_Info_With_Cardpay"/>
                    <include name="Provide_All_Info_SendToOtherAddress"/>
                </methods>
            </class>
            <class name="Testcases.SelectAuthor">
                <methods>
                    <include name="AuthorSelect"/>
                </methods>
            </class>
            <class name="Testcases.SelectWriter_Scroll_GotoNextPage">
                <methods>
                    <include name="GotoWriter"/>
                </methods>
            </class>
            <class name="Testcases.TestLogOut">
                <methods>
                    <include name="LogOut"/>
                </methods>
            </class>
            <class name="Testcases.TestVisitSiteAndLogin">
                <methods>
                    <include name="RegisterWithValidCredentials"/>
                    <include name="TestLoginWithName"/>
                    <include name="TestLoginWithEmail"/>
                    <include name="TestLoginWithWrongEmail"/>
                    <include name="TestLoginWithWrongPassword"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>